<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'mapvisuals/css/style.css' %}"> 
	<link rel="stylesheet" type="text/css" href="{% static 'mapvisuals/js/lib/leaflet-1.0.0-b1/leaflet.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mapvisuals/css/lib/materialize.min.css' %}">  
	
	<script type="text/javascript" src="{% static 'mapvisuals/js/lib/jquery-1.9.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/lib/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/lib/d3/d3.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/lib/color-brewer.js' %}"></script>

    <script type="text/javascript" src="{% static 'mapvisuals/js/lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapvisuals/js/lib/angular/angular-route.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'mapvisuals/js/lib/leaflet-1.0.0-b1/leaflet-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/modules/angular-leaflet-directive.js' %}"></script>

	<script type="text/javascript" src="{% static 'mapvisuals/js/modules/modules.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/factories/factories.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/controllers/mapController.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/controllers/pieChartController.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/directives/directives.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/services/services.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/partialRoutes.js' %}"></script>

	<style>

		*{
			font-family: sans-serif;
		}

		#map {
		  width: 960px;
		  height: 500px;
		}

		svg {
		  position: relative;
		}

		.state:hover {
		  fill-opacity: 0;
		  transition: all 0.5s ease;
		}

		.container{
			margin-top: 20px;
		}

		.point{
			fill-opacity: .9;
		}

		.tooltip{
			max-width: 100px;
			font-size: 0.8em;
			background-color: rgba(220, 220, 220, 0.9);
			padding: 5px;
			border-radius: 2px;
		}
	</style>
</head>
<body ng-app="app">
 	<div id ='main' ng-controller="MapController as map">
 		<div class="col s12">
	 		<div class="container" id='mid'>
	 			<h1>FiveEleven Cohort</h1>
	 			<hr>
	 		</div>

		   	<div class="col s12 m8 l9">
		   	  	<div class="row">
			      	<ul class="">
			        	<li class=" col s3"><a href="#/">Map 1</a></li>
			        	<li class=" col s3"><a href="#/piechart">Map 2</a></li>
			        	<li class=" col s3"><a href="#">Map 3</a></li>
			      	</ul>
			     </div>
			</div>
		</div>
		<div ng-view=""></div>
				
		<div id="tab3" class="col s12">Test 3</div>	
		<div class="col s12 m4 l3">
			<form action="#">
			    <div>
			    	<input name="group1" type="radio" id="test1" />
			    	<label for="test1">Front End</label>
			    </div>
			    <div>
			    	<input name="group1" type="radio" id="test2" />
			    	<label for="test2">Back End</label>
			    </div>
			   	<div>
			    	<input name="group3" type="radio" id="test3" />
			    	<label for="test3">Full Stack</label>
			    </div>
			</form>
		</div>
	</div>
</body>
</html>